apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - image: 383717966188.dkr.ecr.us-east-1.amazonaws.com/kubedemo:45
          name: python-app
          ports:
            - containerPort: 5001